* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 6.5px;
}

::-webkit-scrollbar-track {
  background-color: #FF0037;
}