* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0037;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #4e4e4e;
}
